upstream {{ item.key }} {
{% for server in groups.apps %}
 server {{ server }}:{{ item.value.backend }};
{% endfor %}
}

server {
 listen {{ item.value.frontend }};

 location / {
 proxy_pass http://{{ item.key }};
 }
}
